<div class="content">
  <svg xmlns="http://www.w3.org/2000/svg"
       xml:space="preserve"
       style="shape-rendering:geometricPrecision;
       text-rendering:geometricPrecision;
       image-rendering:optimizeQuality;
       fill-rule:evenodd;
       clip-rule:evenodd"
       viewBox="0 0 500 500">
    <g id="UrTavla">
      <circle style="fill:url(#toning);stroke:#010101;stroke-width:4;stroke-miterlimit:10;" cx="250" cy="250" r="245"></circle>
      <text x="50%" y="50%"
            font-size="6em"
            text-anchor="middle"
            dy=".3em">
        {{ value.value }}
      </text>
    </g>
  </svg>
  <h5>{{ value.name }}</h5>
</div>
